@tailwind base;
@tailwind components;
@tailwind utilities;

/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

html{
  scroll-behavior:smooth;
}

body{
  margin:0;
  padding:0;
  font-family:'Poppins',sans-serif;
  background:#F8F7F4;
  color:#2D3748;
}

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

a{
  text-decoration:none;
}

button{
  cursor:pointer;
}

::-webkit-scrollbar{
  width:8px;
}

::-webkit-scrollbar-thumb{
  background:#7C3AED;
  border-radius:20px;
}